<div class="main-container">
    <div class="left-container">
        <app-information-card [informations]="portfolioValueAndTotalInvestedInformation" [valueFormatting]="'currency'"/>
        <app-display-card [title]="'Portfolio Diversification'" >
            <app-pie-chart [data]="portfolioDiversificationData" [labels]="portfolioDiversificationLabels" />
        </app-display-card>
    </div>
    <div class="right-container">
        <div class="information-cards">
            <app-information-card class="information-card" [informations]="profitInformation" [valueFormatting]="'currency'"/>
            <app-information-card class="information-card" [informations]="dividendIncomeMonthlyInformation" [valueFormatting]="'currency'"/>
            <app-information-card class="information-card" [informations]="budgetInformation" [valueFormatting]="'currency'"/>
        </div>
        <app-display-card [title]="'Patriony Growth'">

        </app-display-card>
    </div>
</div>
