<aside class="sidebar bg-[#111F4D] h-screen flex flex-col justify-between">
    <!-- Logo / Brand -->
    <!-- <div class="sidebar-header">
      <span class="logo">MyApp</span>
    </div> -->
  
    <!-- Navigation -->
    <nav class="sidebar-nav pt-2">
      <ul class="flex flex-col gap-2">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active">
            <mat-icon
              svgIcon="overview"
              class="icon"
            >
            </mat-icon>
            <span class="label text-[#F2F4F7]">Overview</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a routerLink="/orders" routerLinkActive="active">
            <mat-icon
              svgIcon="investments"
              class="icon"
            >
            </mat-icon>
            <span class="label text-[#F2F4F7]">Orders</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a routerLink="/customers" routerLinkActive="active">
            <mat-icon
              svgIcon="data-management"
              class="icon"
            >
            </mat-icon>
            <span class="label text-[#F2F4F7]">Customers</span>
          </a>
        </li>      
      </ul>
    </nav>

    <nav class="sidebar-nav pb-2">
      <ul class="flex flex-col gap-2">
        <li class="nav-item">
          <a routerLink="/settings" routerLinkActive="active">
            <mat-icon
              svgIcon="settings"
              class="icon"
            >
            </mat-icon>
            <span class="label text-[#F2F4F7]">Settings</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/settings" routerLinkActive="active">
            <mat-icon
              svgIcon="account"
              class="icon"
            >
            </mat-icon>
            <span class="label text-[#F2F4F7] ">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  
    <!-- Footer -->
    <!-- <div class="sidebar-footer">
      <button class="logout-btn">
        <span class="icon">🚪</span>
        <span class="label">Logout</span>
      </button>
    </div> -->
</aside>
  