<aside 
  class="sidebar bg-[#111F4D] h-screen flex flex-col justify-between"
  (mouseleave)="onSidebarLeave()"
>
    <!-- Logo / Brand -->
    <!-- <div class="sidebar-header">
      <span class="logo">MyApp</span>
    </div> -->
  
    <!-- Navigation -->
    <nav class="sidebar-nav pt-2">
      <ul class="flex flex-col gap-2">
        <li class="nav-item">
          <div class="nav-parent">
            <a routerLink="/home">
              <mat-icon
                svgIcon="overview"
                class="icon"
              >
              </mat-icon>
              <span class="label text-[#F2F4F7]">Overview</span>
            </a>
          </div>
          
        </li>
  
        <li class="nav-item">
          <div class="nav-parent">
            <a routerLink="/investments">
              <mat-icon svgIcon="investments" class="icon"></mat-icon>
              <span class="label text-[#F2F4F7]">Investments</span>
            </a>
            <mat-icon class="chevron" (click)="toggleInvestments()">
              expand_more
            </mat-icon>
          </div>
          <!-- Sub menu -->
          <ul class="sub-menu" [class.open]="investmentsOpen">
            <li class="nav-parent">
                <a 
                  routerLink="/investments/investments-by-sector"
                  class="label"
                >
                  Investments by sector
                </a>
            </li>
            <li class="nav-parent">
              <a 
                routerLink="/investments/investments-detailed"
                class="label"
              >
                Investments detailed
              </a>
            </li>
          </ul>
        </li>
  
        <li class="nav-item">
          <div class="nav-parent">
            <a routerLink="/data-management">
              <mat-icon svgIcon="data-management" class="icon"></mat-icon>
              <span class="label text-[#F2F4F7]">Data Management</span>
            </a>
            <mat-icon class="chevron" (click)="toggleDataManagement()">
              expand_more
            </mat-icon>
          </div>
          <!-- Sub menu -->
          <ul class="sub-menu" [class.open]="dataManagementOpen">
            <li class="nav-parent">
                <a 
                  routerLink="/data-management/investment-types"
                  class="label"
                >
                  Investment Types
                </a>
            </li>
            <li class="nav-parent">
              <a 
                routerLink="/data-management/investment-sectors"
                class="label"
              >
                Investment Sectors
              </a>
            </li>
            <li class="nav-parent">
              <a 
                routerLink="/data-management/stocks"
                class="label"
              >
                Stocks
              </a>
            </li>
            <li class="nav-parent">
              <a 
                routerLink="/data-management/purchases"
                class="label"
              >
                Purchases
              </a>
            </li>
            <li class="nav-parent">
              <a 
                routerLink="/data-management/sales"
                class="label"
              >
                Sales
              </a>
            </li>
            <li class="nav-parent">
              <a 
                routerLink="/data-management/stock-quotes-history"
                class="label"
              >
                Stock Quotes History
              </a>
            </li>
          </ul>
        </li>      
      </ul>
    </nav>

    <nav class="sidebar-nav pb-2">
      <ul class="flex flex-col gap-2">
        <li class="nav-item">
          <div class="nav-parent">
            <a>
              <mat-icon svgIcon="settings" class="icon"></mat-icon>
              <span class="label text-[#F2F4F7]">Settings</span>
            </a>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-parent">
            <a>
              <mat-icon svgIcon="account" class="icon"></mat-icon>
              <span class="label text-[#F2F4F7] ">Account</span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
  
    <!-- Footer -->
    <!-- <div class="sidebar-footer">
      <button class="logout-btn">
        <span class="icon">🚪</span>
        <span class="label">Logout</span>
      </button>
    </div> -->
</aside>
  