<div class="panel">
    <h2>Investments</h2>
    <h1>Analysis by sector</h1>
    <div class="informations-container">
        <div class="general-informations">
            <div class="information">
                <h4>Portfolio Value</h4>
                <p>R$ 10.200,00</p>
            </div>
            <div class="information">
                <h4>Total Invested</h4>
                <p>R$ 10.000,00</p>
            </div>
            <div class="information">
                <h4>Yield</h4>
                <p>+ 5,67%</p>
            </div>
            <div class="information">
                <h4>Budget</h4>
                <p>R$ 1.000,00</p>
            </div>
        </div>
        <hr class="grey-horizontal-line" />
    </div>
</div>
<div class="tabs-container">
    <div class="tab-buttons">
        <button id="allocation">Allocation</button>
        <div class="grey-vertical-line"></div>
        <button id="patrimony-growth">Patrimony Growth</button>
        <div class="grey-vertical-line"></div>
        <button id="dividends">dividends</button>
    </div>       
</div>
<div class="investments-summary-container">
    <h1>FIIs</h1>
    <div class="grey-vertical-line"></div>
    <div class="general-informations">
        <div class="information">
            <h4>Portfolio Value</h4>
            <p>R$ 10.200,00</p>
        </div>
        <div class="information">
            <h4>Total Invested</h4>
            <p>R$ 10.000,00</p>
        </div>
        <div class="information">
            <h4>Yield</h4>
            <p>+ 5,67%</p>
        </div>
        <div class="information">
            <h4>Budget</h4>
            <p>R$ 1.000,00</p>
        </div>
    </div>
    <div class="grey-vertical-line"></div>
    <button class="arrow"></button>
</div>
