<div class="panel">
    <h2>Investments</h2>
    <h1>Analysis by sector</h1>
    <app-investments-general-informations />
    <hr class="grey-horizontal-line margin-top" />
</div>
<div class="tabs-container">
    <div class="tab-buttons">
        <button id="allocation">Allocation</button>
        <div class="grey-vertical-line"></div>
        <button id="patrimony-growth">Patrimony Growth</button>
        <div class="grey-vertical-line"></div>
        <button id="dividends">dividends</button>
    </div>     
</div>
