.mat-mdc-table {
    background-color: #F2F4F7;
}

.mat-mdc-header-cell {
    font-weight: 300;
}

.mat-mdc-header-row {
    border-bottom: 2px solid #393E46;
}

.mat-mdc-row {
    border-bottom: 2px solid #CCCCCC
}
  