<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <!-- Selection column -->
  <ng-container matColumnDef="select" *ngIf="selectable">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox></mat-checkbox>
    </td>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">

    <th mat-header-cell *matHeaderCellDef>
      {{ column.header }}
    </th>

    <td mat-cell *matCellDef="let row">
      <ng-container [ngSwitch]="column.type">

        <input *ngSwitchCase="'input'" matInput [value]="row[column.key]" />

        <mat-checkbox *ngSwitchCase="'checkbox'" [checked]="row[column.key]">
        </mat-checkbox>

        <span *ngSwitchDefault>
          {{ row[column.key] }}
        </span>

      </ng-container>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
